.global-header
  text-height 50px
  background-color white
  h1
    font-size 20px
    float left
  .nav-right
    ul
      li
        float left
        a
          display block
          text-height 48px
          border-bottom 2px solid transparent
          &.active
            border-bottom-color #333
      li+li
        margin-left 20px
        
    
.nav-right
  float right